
body {
    font-family: Arial, sans-serif;
    background-image: url('../img/credit_card.png');
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* background: linear-gradient(135deg, #4e818d, #acb6e5); */
    color: #d40404;
}

.container {
    background-color: #51cfa1;
    padding: 20px;
    box-shadow: 0 0 10px rgba(168, 26, 26, 0.1);
    border-radius: 5px;
    text-align: center;
}

h1 {
    color:#bc6604;
}

.result {
    margin-top: 20px;
    color: #0e65b1;
}

#final_result {
    font-size: 18px;
    color: #d21a1a;
}

#model_output {
    font-weight: bold;
    color: #007bff;
}

.back-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #e17b08;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}